# Указываем что это корневой каталог
root = true



# Настройка для всех файлов
[*]
# Кодировака
charset = utf-8
# Добавляем пустой строки(используется для решение проблемы при сохранении в удалённый репозиторий)
insert_final_newline = true
# Удаление лишних пробелов в конце строк
trim_trailing_whitespace = true
# Тип перевода строки(в данном случае для перевода строки будет подставляться \n)
## Так есть (cr = \r and crlf = \r\n)
end_of_line = lf
# Стиль отступа
indent_style = space
# Количество пробелов в одном отступе
indent_size = 4



# Настройки для файлов .json
[*.json]
indent_size = 2
